.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/static/data/test
playwright-report/index.html
test-results/.last-run.json
playwright-report
test-results
